@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #1a1a1a;
  background-image: linear-gradient(to bottom, #1a1a1a, #2d2d2d);
  color: white;
  font-family: 'Inter', sans-serif;
}

/* For the green screen functionality */
body.greenScreen {
  background-color: #00ff00;
  background-image: none;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Animation for the call button */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pulse-slow {
  animation: pulse 2s infinite;
}